*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    width: 100%;
    height: 100%;
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* INICIO INFO*/
.info{
    width: 90%;
    height: 100%;
    background-color: white;
}

/* Fondo */
.contenido{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/* Texto */
.datos{
    width: 20%;
    height: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-top: 30px;
}

/* INICIO PERFIL */

.perfil{
    width: 90%;
    height: 100%;
    background-color: white;
    border-bottom: 3px solid black;
    padding-bottom: 20px;
}

.perfiltitulo{
    margin-left: 70px;
    margin-top: 40px;
    width: 40%;
}

.perfiltexto{
    display: flex;
    text-align: justify;
    padding-left: 70px;
    padding-top: 20px;
}

.perfilnombre {
    padding-left: 40px;
    margin-top: -50px; 
}

.roben{
    font-size: 60px;
    padding-right: 50px;
}

.software{
    font-size: 25px;
    background-color: antiquewhite;
    color: rgb(77, 77, 77); 
    padding-right: 50px; 
}

/* INICIO EDUCATION (mirar fotos de la clase) */ 

.education{
    width: 90%;
    height: 100%;
    background-color: white;
    border-bottom: 3px solid black;
    padding-bottom: 40px;
}

.educationtitle{
    margin-left: 70px;
    margin-top: 40px;
}

.contenedoreducation{
    display: flex;
}

.bachelor{
    text-align: justify;
    padding-left: 70px;
    padding-top: 40px;
    padding-right: 30px;
}

.master{
    text-align: justify;
    padding-left: 30px;
    padding-top: 40px;
    padding-right: 70px;
}

.borde{
    border-left: 3px solid black;
}


/* INICIO EXPERIENCE */

.experience1{
    width: 90%;
    height: 100%;
    background-color: white;
}

.experiencetitle{
    margin-left: 70px;
    margin-top: 40px;
}

.contenedorexperience1{
    display: flex;
}

.accenture{
    text-align: justify;
    padding-left: 70px;
    padding-top: 20px;
    padding-right: 30px;
}

.capgemini{
    text-align: justify;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 70px;
}

/* 2DA PARTE EXPERIENCE  */

.experience2{
    width: 90%;
    height: 100%;
    background-color: white;
    padding-bottom: 60px;
}

.contenedorexperience2{
    display: flex;
}

.cisco{
    text-align: justify;
    padding-left: 70px;
    padding-top: 50px;
    padding-right: 30px;
}

.microsoft{
    text-align: justify;
    padding-left: 30px;
    padding-top: 50px;
    padding-right: 70px;
}

/* INICIO SKILLS */

.skills{
    background-color: white;
    width: 90%;
    height: 100%;
    border-bottom: 3px solid black;
    padding-bottom: 40px;
}

.skillstitle{
    margin-left: 70px;
    margin-top: 40px;
}

.contenedorskills{
    display: flex;
}

.linea1{
    margin-left: 70px;
    margin-top: 40px;
    
}

.linea2{
    margin-left: 40px;
    margin-top: 40px;
    padding-left: 40px;
}


#file{
    width: 353px;
    margin-left: 10px;
}

/* INICIO PROJECT */

.projects{
    background-color: white;
    width: 90%;
    height: 100%;
    
}

.projectstitle{
    margin-left: 70px;
    margin-top: 40px;
}

.contenedorprojects{
    display: flex;
}

.weather{
    text-align: justify;
    padding-left: 70px;
    padding-top: 50px;
    padding-right: 30px;
}

.ai{
    text-align: justify;
    padding-left: 30px;
    padding-top: 50px;
    padding-right: 70px;
    
}

/* INICIO PROJECT 2 */

.projects2{
    background-color: white;
    width: 90%;
    height: 100%;
    border-bottom: 3px solid black;
    padding-bottom: 40px;
}

.contenedorprojects2{
    display: flex;
}

.fingerprint{
    text-align: justify;
    padding-left: 70px;
    padding-top: 50px;
    padding-right: 30px;
}

.credit{
    text-align: justify;
    padding-left: 30px;
    padding-top: 50px;
    padding-right: 70px;
}

/* INICIO LENGUAJE Y CERTIFICACION*/

/* lenguaje solamente */

.lenguajeycertification{
    width: 90%;
    height: 100%;
    background-color: white;
    border-bottom: 3px solid black;
    padding-bottom: 40px;
}

.contenedorlenguajeycertificacion{
    display: flex;
}

.lenguajetitle{
    margin-left: 70px;
    margin-top: 40px;
}


.lenguaje{
    margin-left: 70px;
    margin-top: 40px;
    margin-right: 56px;
}

/* certificacion solamente */


.contenedorcertificacion{
    display: flex;
}

.certificaciontitle{
    margin-top: -30px;
    padding-left: 30px;
}

.certified{
    padding-left: 30px;
    padding-top: 20px;
}

.azure{
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 60px;
}

/* HOBBIES */

.hobbies{
    background-color: white;
    width: 90%;
    height: 100%;
}

.hobbiestitle{
    margin-left: 70px;
    margin-top: 40px;
}

.contenedorhobbies{
    display: flex;
}

.fa-solid{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-left: 20px;
    margin-left: 70px;
}

.texthobbies{
    width: 150px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
}

